<div class="row justify-content-center">
  <div class="col-md-10">
    <form (ngSubmit)="CevapEkle()">
      <div class="input-group">
        <div (click)="Begen()" class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Beğen</button>
        </div>
        <input [(ngModel)]="cevap" name="cevap" id="cevap" type="text" class="form-control" placeholder="Cevap">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit">Ekle</button>
        </div>

      </div>
    </form>
  </div>
</div>
