<div class="container-fluid">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-5">
      <div class="card">
        <div class="card-header bg-dark text-warning text-center">
          Profili Güncelle
        </div>
        <div class="card-body">
          <form (ngSubmit)="Kaydet()" novalidate="">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="isim">İsim</label>
                      <input [(ngModel)]="ad" id="isim" class="form-control" type="text" name="name">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="soyisim">Soyisim</label>
                      <input [(ngModel)]="soyad" id="soyisim" class="form-control" type="text" name="soyisim">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button class="btn btn-warning" type="submit">Kaydet</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-header bg-dark text-warning text-center">
          E-Posta Güncelle
        </div>
        <div class="card-body">
          <form (ngSubmit)="EpostaDegistir()">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="email">E-Posta</label>
                      <input [(ngModel)]="email" name="email" id="email" class="form-control" type="email">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button class="btn btn-warning" type="submit">E-Postayı Güncelle</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-header bg-dark text-warning text-center">
          Şifre Güncelle
        </div>
        <div class="card-body">
          <form (ngSubmit)="SifreDegistir()">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-6 mb-3">
                <div class="mb-2"><b>Şife Değiştir</b></div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="simdikiSifre">Şimdiki Şifre</label>
                      <input [(ngModel)]="suankiSifre" id="simdikiSifre" name="simdikiSifre" class="form-control"
                             type="password" placeholder="••••••">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="sifre">Yeni Şifre</label>
                      <input [(ngModel)]="yeniSifre" name="yeniSifre" id="sifre" class="form-control" type="password"
                             placeholder="••••••">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-center">
                <button class="btn btn-warning" type="submit">Şifreyi Değiştir</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
